@model PATITAS.Models.ClienteMascotaVM
@{
    ViewData["Title"] = "Editar Mascota";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<h3 class="text-center ">Editar Mascota</h3>
<form method="post" asp-action="Editar">
    <input type="hidden" asp-for="Mascota.Mascota_Id" />

    <div class="row ">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-12 mt-4">
            <div class="row">
                <div class="col-4">
                    <label asp-for="Mascota.NombreMascota"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Mascota.NombreMascota" class="form-control input1" />
                    <span asp-validation-for="Mascota.NombreMascota" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-4">
                    <label asp-for="Mascota.Sexo"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Mascota.Sexo" class="form-control input1" />
                    <span asp-validation-for="Mascota.Sexo" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-4">
                    <label asp-for="Mascota.Peso"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Mascota.Peso" class="form-control input1" />
                    <span asp-validation-for="Mascota.Peso" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-4">
                    <label asp-for="Mascota.Raza"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Mascota.Raza" class="form-control input1" />
                    <span asp-validation-for="Mascota.Raza" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-4">
                    <label asp-for="Mascota.Color"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Mascota.Color" class="form-control input1" />
                    <span asp-validation-for="Mascota.Color" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-4">
                    <label>Propietario</label>
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(u => u.Mascota.Cliente_Id, Model.ListaClientes,"--Lista de clientes--",
                    new {@class = "form-control"})
                    <span asp-validation-for="Mascota.Cliente" class="text-danger"></span>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-3">
                    <a class="text-dark" asp-action="Index">Volver a la Lista</a>
                </div>
                <div class="row mt-4">
                    <div class="col-5 offset-4">
                        <button type="submit" class="form-control" id="enviar">Editar</button>
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>

