<link rel="stylesheet" href="~/css/Nosotros.css" asp-append-version="true" />
@{
    ViewData["Title"] = "Home Page";
}

<div class="imagen">
    <img class="mediana" src="~/img/Panel.jpg" alt="Panel Veterinaria" />
</div>
<br />
<br />
<div class="text">
    <h3 class="text-center display-6">NUESTRA VETERINARIA</h3>
    <h4>
        Veterinaria Patitas nace en mayo del año 2019 como una pequeña tienda de artículos para perros y gatos ubicada en Lima.
        En el año 2020, los fundadores deciden aumentar los servicios, poniendo en práctica su vocación y centrar su atención en aquello que los
        clientes más demandaban: consultas médicas.
    </h4>
    <br />
    <h4>
        Iniciando una nueva etapa, brindando más y mejores servicios a nuestros clientes, ampliando la capacidad de atención en
        diferentes áreas de nuestra veterinaria hasta convertirnos en lo que somos hoy: el lugar ideal en donde cuidamos y engreímos a tus engreídos,
        con servicios veterinarios.
    </h4>
</div>